<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhumouren.twitter.cloud.tweet.mapper.LikeMapper">

    <insert id="insertLike">
        INSERT INTO tweet_like (tweet_id, user_id)
        SELECT #{tweetId}, #{userId}
        FROM DUAL
        WHERE (NOT EXISTS(SELECT 1
                          FROM tweet_like
                          WHERE (tweet_id = #{tweetId} AND user_id = #{userId} AND is_deleted = 0))
            AND EXISTS(SELECT 1
                       FROM tweet
                       WHERE id = #{tweetId}
                         AND is_deleted = 0))
    </insert>

    <update id="deleteLike">
        UPDATE tweet_like
        SET is_deleted = 1,
            updated    = NOW()
        WHERE tweet_id = #{tweetId}
          AND user_id = #{userId}
        ORDER BY updated DESC
        LIMIT 1
    </update>

    <select id="listUserLikeTweetId" resultType="Long">
        SELECT tweet_id
        FROM tweet_like
        WHERE user_id = #{userId}
          AND is_deleted = 0
    </select>

</mapper>
